<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<!-- Connection to mySQL database -->
	<connectionStrings>
		<add name="MySqlConnection"
			connectionString="Server=localhost;Database=stock_management;User ID=root;Password=;SslMode=none;"
			providerName="MySql.Data.MySqlClient" />
	</connectionStrings>

</configuration>